<div id="search">
  <script defer src="{{asset "js/search.js"}}"></script>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-search">
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
  </svg>
</div>

<div id="search-overlay" class="display-none">
  <button type="button" role="close" id="close-overlay">X</button>
  <div class="search-input-container">
    <label class="search-input-label" for="search-input">SEARCH FOR POSTS</label>
    <input id="search-input" type="text" autofocus="autofocus" placeholder=""></input>
  </div>
</div>