body {
    background-color: var(--swisswhite);
    color: #3f3f3f;
    font-family: Montserrat, Helvetica;
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    font-weight: normal;
}
footer {
    font-size: .9em;
}
p {
    font-family: "Open Sans", sans-serif;
}
ol, ul {
    margin: 2em 0;
    padding: 0 2em;
}
.noise {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background: url(../images/concrete_seamless.png);
    opacity: .6;
    z-index: -1;
}
.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 0 20%;
}
