body {
    background-color: var(--swisswhite);
    color: #3f3f3f;
    font-family: Montserrat, Helvetica;
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
}
h2 {
    font-size: 1.7em;
    font-weight: 500;
    margin-top: 1.3em;
}
h3 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
}
footer {
    font-size: .9em;
}
p {
    font-family: "Open Sans", sans-serif;
}
ol, ul {
    margin: 2em 0;
    padding: 0 2em;
}
a {
    color: var(--swissblue);
}
img {
    max-width: 100%;
}
blockquote {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
blockquote:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1em;
    height: 100%;
    border-left: 3px solid var(--swissgreen);
}
.nav-wrapper {
    position: absolute;
    top: 2%;
    left: 5%;
}
.home {
    text-decoration: none;
    border: 1px solid var(--swissblue);
    color: var(--swissblue);
    padding: .5em 1em;
    border-radius: 2px;
    font-size: .8em;
}
.home:hover {
    color: var(--swisswhite);
    background-color: var(--swissblue);
}
.noise {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background: url(../images/concrete_seamless.png);
    opacity: .6;
    z-index: -1;
}
.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 0 20%;
}
@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    .site-header-title {
        font-size: 2.5em;
    }
    .main-container {
        padding: 0 5%;
    }
    .nav-wrapper {
        top: 2%;
        right: 2%;
        left: unset;
    }
    .home {
        padding: 1em 2em;
    }
}
