.site-header {
    height: 200px;
    width: 100%;
    background-color: var(--swissblack);
    background-size: contain;
    display: flex;
    justify-content: center;
}
.site-header-title {
    align-self: center;
    color: var(--swisswhite);
    font-size: 3.5em;
    font-weight: 500;
    letter-spacing: 3px;
}
.site-header-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: url(../images/funky-lines.png);
    opacity: .15;
}
.post-line {
    box-sizing: border-box;
    padding: 1em 0 2em;
    position: relative;
    hyphens: auto;
    border-bottom: 1px solid var(--swissgreen);
}
.post-line-excerpt {
    line-height: 1.5em;
}
.post-line-title {
    font-weight: 600;
    margin-bottom: 0;
}
.post-line-link {
    text-decoration: none;
    color: inherit;
}
.post-line-link:hover {
    color: black;
}
.tag {
    color: var(--swissbrown);
}
