#about {
    color: #FFF;
    position: absolute;
    top: 1%;
    right: 3%;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
}
.site-header {
    height: 15em;
    width: 100%;
    background-color: var(--swissblack);
    display: flex;
    justify-content: center;
}
.site-header-title {
    align-self: center;
    color: var(--swisswhite);
    font-size: 3.5em;
    font-weight: 500;
    letter-spacing: 3px;
    z-index: 1;
}
.site-header-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-size: cover;
    opacity: .15;
}
.post-line {
    box-sizing: border-box;
    padding: 1em 0 2em;
    position: relative;
    hyphens: auto;
    border-bottom: 1px solid var(--swissgreen);
    width: 100%;
}
.post-line a {
  color: inherit;
  text-decoration: none;
}
.post-line-excerpt {
    line-height: 1.5em;
}
.post-line-title {
    font-weight: 600;
    margin-bottom: 0;
}
.post-line-link {
    text-decoration: none;
    color: inherit;
}
.post-line-link:hover {
    color: black;
}
.tag {
    color: var(--swissbrown);
}
.footnote-ref {
    position: relative;
    font-size: .7em;
    vertical-align: text-top;
    top: -5px;
}
mark {
    background-color: var(--swissgreen);
    color: var(--swisswhite);
}
