#search {
  bottom: 1%;
  cursor: pointer;
  position: absolute;
  right: 3%;
}

.feather-search {
  color: var(--swisswhite);
}

#search-overlay {
  bottom: 0;
  background-color: rgba(94, 95, 94, .8);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  left: 0;
  padding: 1% 5%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#search-overlay.display-none {
  display: none;
}

#close-overlay {
  border: 1px solid var(--swisswhite);
  color: var(--swisswhite);
  cursor: pointer;
  position: absolute;
  background: none;
  font-size: 1.5em;
  top: 1%;
  right: 3%;
}

#search-input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--swisswhite);
  color: var(--swisswhite);
  font-size: 3em;
  max-width: 80%  ;
  position: absolute;
  text-align: center;
  top: 10%;
  -webkit-appearance: none;
}

#search-input::placeholder {
  color: var(--swisswhite);
}

#search-input:focus {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  #search-input {
    font-size: 2em;
  }
}